<body>
    <div class="right-panel" style="background-image: url('{{ site.baseurl }}/assets/img/bg_peak.jpg')">
        <div class="overlay-light"></div>
        <div class="inner">
            <div class="logo">
                <h1>Yoga</h1>
                
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ site.baseurl }}/">Home</a>&#9730</li>
                    <li><a href="{{ site.baseurl }}/about_me/">About Me</a></li>
                    <li><a href="{{ site.baseurl }}/resume/">Resume</a></li>
                    <li><a href="">Doggie&nbsp;(`ᴥ´)</a></li>
                </ul>
            </div>
        </div>
    </div>