<body>
    <div class="right-panel" >
        <div class="overlay-light"></div>
        <div class="inner">
            <div class="logo">
                <!-- <h1>Yoga</h1> -->
                <img id="icon" src="{{ site.baseurl }}/assets/img/icon.jpg" alt="Yoga">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ site.baseurl }}/"><span>Home</span><i class="fas fa-home"></i></a></li>
                    <li><a href="{{ site.baseurl }}/about_me/"><span>About</span><i class="fas fa-user"></i></a></li>
                    <li><a href="{{ site.baseurl }}/resume/"><span>Resume</span><i class="far fa-file-alt"></i></a></li>
                    <li><a href="{{ site.baseurl }}/doggie/"><span>Doggie</span><i class="fas fa-dog"></i></a></li>
                </ul>
            </div>
            <ul class="social">
                <li><a href="https://www.linkedin.com/in/yuejia-yu-511955114/" class="fa fa-linkedin"></a></li>
                <li><a href="https://github.com/yogaegg" class="fa fa-github"></a></li>
                <li><a href="" class="fa fa-google"></a></li>
                <li><a href="https://www.instagram.com/yogaegg/" class="fa fa-instagram"></a></li>
            </ul>
        </div>
    </div>